* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	width: 1440px;
}
.header-todolist {
	width: 100%;
	background-color: #ffe794;
	height: 96px;
	justify-content: space-between;
	display: flex;
}
.yourtodo-header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 25px;
}
.yourtodo {
	font-family: "Josefin Sans";
	font-weight: 500;
	font-size: 38px;
	line-height: 38px;
}
.header-todolist i {
	display: flex;
	font-size: 36px;
	align-items: center;
	margin-right: 25px;
	cursor: pointer;
}
.icon-menu {
	margin-left: 14px;
}
.icon-menu i {
	font-size: 84px;
}
.page {
	min-height: 1000px;
}
/* login */

.login,
.register {
	display: flex;
	background-color: #ffe1bd;
	padding-top: 145px;
	padding-bottom: 130px;
	justify-content: center;
	align-items: center;
}
.form {
	text-align: center;
	width: 555px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 49px;
	background-color: #faa136;
}
.form-login {
	height: 616px;
}
.title-form-login {
	font-family: "Josefin Sans";
	font-weight: 400;
	font-size: 48px;
	line-height: 44px;
	margin-top: 35px;
}
.form-group {
	display: grid;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 25px;
	height: 99px;
	margin-top: 45px;
}
.form-control {
	height: 50px;
	margin-top: 15px;
	font-size: 25px;
	padding-left: 15px;
}
.submit-form {
	width: 296px;
	height: 52px;
	border-radius: 30px;
	font-size: 25px;
	background-color: #ff5757;
	cursor: pointer;
	margin-top: 60px;
}
.form-label {
	text-align: left;
}
.error-messages {
	color: #ff5757;
	text-align: left;
	margin-top: 5px;
}

.error-messages {
	text-align: left;
	margin-left: 16px;
	margin-top: 6px;
}

.minlength-invalid,
.maxlength-invalid,
.required-invalid,
.minmax-invalid {
	color: #f33a58;
}

.error-messages,
.has-error,
.minlength-error,
.maxlength-error {
	display: none;
}

.error-messages,
.error-message {
	display: none;
}

.error-messages.has-error {
	display: block;
}

.error-messages.required-invalid .required-error {
	display: block;
}

.error-messages.minlength-invalid .minlength-error {
	display: block;
}

.error-messages.maxlength-invalid .maxlength-error {
	display: block;
}

form.origin .error-messages {
	display: none !important;
}

.error-messages.minmax-invalid .minmax-error {
	display: block;
}

.single-error.error-messages.minlength-invalid
	.minlength-error
	~ .error-message,
.single-error.error-messages.maxlength-invalid
	.maxlength-error
	~ .error-message,
.single-error.error-messages.required-invalid .required-error ~ .error-message {
	display: none;
}

form.invalid .btn-submit {
	position: relative;
}

.form-register {
	height: 670px;
}
.link_login,
.link_register {
	font-size: 24px;
	color: blue;
	cursor: pointer;
}

/* todos */
.sidebar-projects {
	min-width: 297px;
	background-color: #fffbef;
	text-align: center;
}
.title-projects {
	font-family: "Josefin Sans";
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
	color: #000000;
	padding-top: 23px;
}
.btn {
	height: 50px;
	width: 254px;
	border-radius: 8px;
	font-family: "Josefin Sans";
}
.item-projects {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.btn-newProject {
	font-weight: 400;
	font-size: 22px;
	line-height: 22px;
	background-color: rgba(209, 198, 158, 0.7);
	border-color: rgba(209, 198, 158, 0.7);
	margin-top: 19px;
	cursor: pointer;
}
.group-project {
	margin-top: 22px;
	min-height: 50px;
	width: 254px;
	background-color: rgba(244, 208, 137, 0.4);
	border-color: rgba(209, 198, 158, 0.7);
	border-radius: 8px;
	align-items: center;
	justify-content: space-between;
	display: inline-flex;
	cursor: pointer;
	padding: 0 20px;
}
.name-project {
	font-family: "Josefin Sans";
	font-weight: 400;
	font-size: 22px;
	line-height: 22px;
	color: #535151;
}
.todos {
	display: flex;
	background-color: #ffe1bd;
}
/* modal */
.modal, .modal-addTask, .modal-detailtask {
	position: fixed;
	left: 0;
	top: 0;
	width: 1440px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
	position: absolute;
	margin-top: 500px;
	margin-left: 700px;
	transform: translate(-50%, -50%);
	background-color: #ffd7a7;
	width: 436px;
	height: 281px;
	border-radius: 8px;
}
.modal-content-addtask {
	position: absolute;
	margin-top: 500px;
	margin-left: 700px;
	transform: translate(-50%, -50%);
	background-color: #ffd7a7;
	border-radius: 8px;
}
.close-button {
	float: right;
	width: 25px;
	text-align: center;
	cursor: pointer;
	background-color: lightgray;
}

.close-button:hover {
	background-color: darkgray;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.form-addproject {
	margin-top: 45px;
}
.name-Project {
	font-family: "Josefin Sans";
	font-weight: 500;
	font-size: 24px;
	line-height: 24px;
}
.input-nameProject {
	height: 50px;
	width: 347px;
	font-size: 20px;
	padding-left: 5px;
	margin-top: 35px;
}
.btn-submit-addProject {
	background-color: #7fdb88;
	margin-top: 25px;
	font-size: 24px;
	cursor: pointer;
}

.tasks {
	text-align: center;
	width: 100%;
}
.nameProject {
	margin-top: 27px;
	text-align: center;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 32px;
	line-height: 44px;
}
.btn-newTask {
	margin-top: 50px;
	background-color: #f8ca94;
	height: 60px;
	width: 1090px;
	border: none;
	font-family: "Josefin Sans";
	font-weight: 500;
	font-size: 26px;
	line-height: 26px;
	cursor: pointer;
}
.name-project-task {
	font-size: 23px;
	word-break: break-word;
}
.group-task {
	display: inline-block;
	margin-top: 27px;
	width: 1090px;
	min-height: 81px;
	background-color: #faa136;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}
.name-task {
	font-family: "Josefin Sans";
	font-weight: 500;
	font-size: 26px;
	line-height: 26px;
	margin-top: 10px;
}
.btn-detail {
	height: 35px;
	background-color: #feffdf;
	border-radius: 8px;
	width: 1079px;
	border: none;
	font-family: "Josefin Sans";
	font-weight: 500;
	font-size: 24px;
	line-height: 24px;
	cursor: pointer;
}
/* form add task */
.title-form-addtask{
	font-family: 'Josefin Sans';
	font-weight: 500;
	font-size: 24px;
	line-height: 24px;
	margin-top: 16px;
}
.group-newtask{
	display: grid;
	padding: 20px 40px;
}
.input-namenewtask{
	height: 33px;
	width: 528px;
	font-size: 18px;
	padding-left: 10px;
}
.label-addtask{
	font-family: 'Josefin Sans';
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: #585353;
	text-align: left;
}
.textarea-description{
	height: 133px;
	padding-top: 10px;
}
.btn-addtask{
	background-color: #7FDB88;
	font-family: 'Josefin Sans';
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 25px;
}
.btn-detailtask{
	Width:480px;
	Height: 42px
}